snippet /pub(lic)?/ "public class ...." br
public class `!p snip.rv = snip.basename` {
	public static void main(String[] args){
		$1

	}

}
endsnippet

snippet class "class ...." b
class $1 {
	$2
	public $1($3) {
		$4
	}

}
endsnippet

snippet printf "System.out.printf(...)" b
System.out.printf("$1",$2);
$3
endsnippet

snippet print "System.out.print(...)" b
System.out.print("$1");
$2
endsnippet

snippet println "System.out.println(...)" b
System.out.println("$1");
$2
endsnippet
